{% comment %}
This file contains the third of the three elements, often used to display links to partner sites or advertisements.
This section is intended to showcase external resources or sponsored content relevant to the blog's audience,
and it is also best placed within an <aside> element.

	<aside>
		<h3>Ads</h3>
		<div class="col">
			Ads
		</div>
	</aside>

{% endcomment %}

