{% comment %}
This file contains the second of the three elements, which provides additional information about the blog, such as a link to the RSS feed.
This content is also best organized within an <aside> element to keep it distinct from the main content.
{% endcomment %}
<aside>
	<h3>InfoBox</h3>
	<div class="col">
		<p class="rss-subscribe">
			You can also follow this blog <a href="{{ "/feed.xml" | relative_url }}" class="rss">via RSS</a>.
		</p>
	</div>
</aside>

