{% comment %}
List of contacts in adress-bar.
{% endcomment %}

<ul class="list-unstyled">
	{% if site.username_gitlab %}
		<li>
			<i class="fa fa-gitlab"></i>
			<a href="https://gitlab.com/{{ site.username_gitlab | escape }}">{{ site.username_gitlab | escape }}</a>
		</li>
	{% endif %}
	{% if site.username_github %}
		<li>
			<i class="fa fa-github"></i>
			<a href="https://github.com/{{ site.username_github | escape }}">{{ site.username_github | escape }}</a>
		</li>
	{% endif %}
	{% if site.username_xing %}
		<li>
			<i class="fa fa-xing"></i>
			<a href="https://www.xing.com/profile/{{ site.username_xing | escape }}">{{ site.username_xing | escape }}</a>
		</li>
	{% endif %}
	{% if site.username_linkedin %}
		<li>
			<i class="fa fa-linkedin"></i>
			<a href="https://de.linkedin.com/in/{{ site.username_linkedin | escape }}">{{ site.username_linkedin | escape }}</a>
		</li>
	{% endif %}
	{% if site.email %}
		<li>
			<i class="fa fa-at"></i>
			<a href="mailto:{{ site.email | escape }}">{{ site.email | escape }}</a>
		</li>
	{% endif %}
</ul>
