{% comment %}
Outputs a linked tag as a pill.

Call via:
----
	{% include function_tag.html
		tag=current_tag
		is_linked=true
		add="7*"
	%}
----
{% endcomment %}
<li class="list-inline-item mx-0 my-0">{{ include.add }}
	{% if include.is_linked %}
		<a
			class="badge badge-pill badge-secondary"
			{% comment %}
				Here 'tag' Is NOT escaped, since the plugin generates
				files for tag-pages with filenames using the unescaped tag.
			{% endcomment %}
			{% assign tag_dir = site.tag_dir | default: 'tags' %}
			href="{{ '/' | append: tag_dir | append: '/' | append: include.tag | relative_url }}"
		>{{ include.tag | escape }}</a>
	{% else %}
		<span class="badge badge-pill badge-secondary">{{ include.tag | escape }}</span>
	{% endif %}
</li>

