{% comment %}
List of blog-posts.
Expects an array of post objects in the parameter `postlist`.

Call via:
----
{% include function_list-posts.html
	postlist = POSTLIST
	postlist-css-class = page.postlist-css-class
	postlist-format-function = page.postlist-format-function
%}
----
{% endcomment %}

{% comment %}
Set the default values for the format function an the CSS-class.
{% endcomment %}
{% assign design_post  = include.postlist-format-function | default: "function_post-in-list-short.html" %}
{% assign design_class = include.postlist-css-class       | default: "post-list-short" %}

<ul class="{{ design_class }}" itemscope itemtype="https://schema.org/Blog">
{% for current_post in include.postlist %}
	<li itemscope itemtype="https://schema.org/BlogPosting">
		{% include {{ design_post }}
			post = current_post
		%}
	</li>
{% endfor %}
</ul>

