<time class="created" datetime="{{ include.created | date_to_xmlschema }}" itemprop="datePublished">
	<span class="sr-only sr-only-focusable">created:</span>
	<strong title="date of creation">{{ include.created | date: "%b %-d, %Y" }}</strong>
</time>

{% if include.edited != "" and include.edited %}
/
<time class="edited" datetime="{{ include.edited | date_to_xmlschema }}" itemprop="dateModified">
	<span class="sr-only sr-only-focusable">edited:</span>
	<strong title="date of last edit">{{ include.edited  | date: "%b %-d, %Y" }}</strong>
</time>
{% endif %}
