/**
 * Address bar in the footer.
 */
address {
	li {
		i {
			display: inline-block;
			padding: 2px 0;
			margin: 2px 0;
			vertical-align: top;
			// Icons should take the same space;
			min-width: 20px;
		}
	}
}
