

div.stemblock {
	text-align: center;
	margin: 1em 2em;

	div.content {
		/* See also `img-fluid` class from Bootstrap. */
		display: inline-block;
		max-width: 100%;
		height: auto;
		width: auto;
		background: #fff;
		border: 1px solid #aaa;
		padding: 10px 10px;
		border-radius: 5px;
	}
}

