/**
 * Show name of the language highlighted in a code block in the upper right corner.
 */
.listingblock {

	.content {

		code {
			position: relative;
			display: block;
			// Workaround to prevent the language label from overlapping the source code (see release notes 0.10.X).
			z-index: 0;
		}

		code::before {
			content: attr(data-lang);
			position: absolute;
			top: 0;
			right: 0;
			background-color: #f0f0f0;
			padding: 2px 5px;
			font-size: 12px;
			color: #333;
			border-radius: 3px;
			border: 1px solid #ccc;
			// Workaround to prevent the language label from overlapping the source code (see release notes 0.10.X).
			z-index: -10;
		}

		/* If data-lang is empty or not set, ::before will be hidden. */
		code[data-lang=""]::before,
		code:not([data-lang])::before {
			display: none;
		}
	}
}

/*
 * Ensure that code annotation symbols are not selected along with the code.
 */
i.conum, i.conum + b {
  user-select: none;
}

i.conum + b {
  display: none; // Hides the <b> element
}

i.conum::after {
  content: attr(data-value); // Displays the value of data-value in the <i> element
  font-weight: bold; // Optional: for bold styling if desired

  display: inline-block; // Enables circular styling
  background-color: #f0f0f0; // Light gray background
  border: 1px solid #555; // Thin dark gray border
  border-radius: 50%; // Rounds the element into a circle
  padding: 2px 6px; // Adjusts spacing for a circular shape
  text-align: center; // Centers the text in the circle
  line-height: 1; // Ensures the character is vertically centered
	margin: 0 .5em;
}



