/**
 * Images.
 */
div.imageblock {
	text-align: center;
	margin: 2em;

	img {
		/* See also `img-fluid` class from Bootstrap. */
		max-width: 100%;
		height: auto;
		background: #fff;
		border: 1px solid #aaa;
		padding: 10px 10px;
		border-radius: 5px;
	}

}

