/**
 * Table blocks.
 */
table.tableblock {

	thead,
	tfoot {
		background: #e7e8e7;
		font-weight: bold;
	}

	th.tableblock,
	td.tableblock {
		border: 0 solid #f00;
		border: 0 solid #dedede;
		padding: .5em .625em;
	}

	caption {
		caption-side: top;
	}


	.halign-left {
		text-align: left;
	}
	.halign-center {
		text-align: center;
	}
	.halign-right {
		text-align: right;
	}
	.valign-top {
		vertical-align: top;
	}
	.valign-middle {
		vertical-align: middle;
	}
	.valign-bottom {
		vertical-align: bottom;
	}





}

p.tableblock {
	margin-bottom: 0;
}

table.grid-all {
	th.tableblock,
	td.tableblock {
		border-width: 1px;
	}
}

