div.admonitionblock {
	border-radius: 5px;
	box-shadow: 0 1px 4px #aaa;
	background: #fff;
	color: #111;
	margin: 2em 0;
	// Workaround for overflow issues with code blocks inside admonition blocks. (see release notes 0.13.X)
	overflow-x: auto;
}
.admonitionblock table {
	background-color: transparent;
	width: 100%;
	td {
		padding: .75em .25em;
		border-width: 0;
	}
	td.content {
		padding-right: .75em;
	}
}
/* See:
 * https://github.com/asciidoctor/jekyll-asciidoc#font-based-admonition-and-inline-icons
 */
span.icon>.fa {
	cursor: default;
}
.admonitionblock td.icon {
	text-align: center;
	vertical-align: top;
	width: 3.7em;

	[class^="fa icon-"] {
		font-size: 2.3em;
		text-shadow: 1px 1px 2px rgba(0,0,0,.5);
		cursor: default;
	}
	.icon-note:before {
		content: "\f05a";
		color: #19407c;
	}
	.icon-tip:before {
		content: "\f0eb";
		text-shadow: 1px 1px 2px rgba(155,155,0,.8);
		color: #111;
	}
	.icon-warning:before {
		content: "\f071";
		color: #bf6900;
	}
	.icon-caution:before {
		content: "\f06d";
		color: #bf3400;
	}
	.icon-important:before {
		content: "\f06a";
		color: #bf0000;
	}

}
