/*
 * Applies to adminition blocks and table blocks
 */
table {
	background: #fff;
	margin: .5em auto;
}

table tr.even,
table tr.alt,
table tr:nth-of-type(even) {
	background: #f8f8f7;
}

/**
 * Captions of images, tables, code-blocks, ...
 */
 .title {
	padding-top: .75rem;
	padding-bottom: .75rem;
	color: #6c757d;
}

