#toc {
	background-color: #f8f9fa;
	border: 1px solid #a2a9b1;
	padding: 8px 16px;
	font-size: 0.9em;
	margin: 1em 0;
	border-radius: 4px;
	width: auto;
	max-width: 100%;
	overflow-x: auto;
	display: inline-block;
}

#toctitle {
	font-weight: bold;
	font-size: 1.1em;
	padding-bottom: 8px;
	border-bottom: 1px solid #a2a9b1;
	margin-bottom: 8px;
}

ul.sectlevel1,
ul.sectlevel2,
ul.sectlevel3,
ul.sectlevel4,
ul.sectlevel5 {
    list-style-type: none;
    padding-left: 1.3em;
    margin: 4px 0;
}

li {
	margin: 4px 0;
}

li a {
	color: #0645ad;
	text-decoration: none;
}

li a:hover {
	text-decoration: underline;
}
