.quoteblock {
	margin: 1em 1.5em;
	font-style: italic;
	color: rgba(0,0,0,.6);

	& > .title {
		margin-left: -1.5em;
		margin-bottom: .75em;
		font-weight: bold;
	}

	blockquote {
		text-align: center;
		background-color: #f8f8f8;

		&::before, &::after {
			font-size: 3em;
			font-weight: bold;
			line-height: .6em;
			color: #721;
			text-shadow: 0 1px 2px rgba(0,0,0,.1);
		}
		&::before {
			content: "\201c";
			float: left;
			margin-left: -.6em;
		}
		&::after {
			content: "\201d";
			float: right;
			margin-right: -.6em;
			margin-top: -.6em;
		}
	}

	.attribution {
		margin-top: .5em;
		margin-right: .5ex;
		text-align: right;

		cite {
			display: block;
			letter-spacing: -.025em;
			font-size: .75em;
		}
	}

}
