dl{
	dt {
		margin-bottom: .3125em;
		font-weight: bold;
	}
	dd {
		margin-left: .7em;
		padding-left: .7em;
		padding-top: .3em;
		padding-bottom: .01em;
		margin-bottom: 2.1em;
		border-left: 5px solid #dee2e6;

		p {
			margin-bottom: 0.5em;
		}
	}
}



div.glossary-index {

	margin-top: 3em;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: inline;

		li {
			display: inline;
			padding: 0;

			a {
				text-decoration: none;
				font-family: monospace;

				padding: 2px 8px;
				margin: 2px 0;
				border: 1px solid #d3d3d3;
				border-radius: 4px;
				display: inline-block;

				&:hover {
					text-decoration: underline;

					background-color: #ccc;
				}
			}

		}

	}

}



h2.glossary {

	display: flex;
  justify-content: space-between;
  align-items: baseline;
	font-weight: bold;

	border-bottom: 2px dotted #ccc;

	// Letter
	span {
		font-family: monospace;
		color: #e83e8c;
		font-style: italic;
		font-size: 150%;
	}
	a.back-to-index {
		font-size: 0.8rem;
		color: #007BFF;
		text-decoration: none;
		text-align: right;
	}

	a.back-to-index:hover {
		text-decoration: underline;
	}

}


