time {
	color: #999;

	&:before {
		font-family: FontAwesome;
		top:0;
		padding-right:-1px;

		&.created {
			content: "\f017";
		}
		&.edited {
			content: "\f044";
		}
	}
}

div.post-navigation-top {
	border-bottom: 3px dotted #dee2e6;
	padding-bottom: 1em;
	margin-bottom: 1em;
}

div.post-navigation-bottom {
	border-top: 3px dotted #dee2e6;
	padding-top: 1em;
	margin-top: 5em;
}
