/**
 * Designs for the post-lists.
 */

ul.post-list-short {
  margin-left: 0;
	list-style-type: "⇒ ";
}

ul.post-list-long {

  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 20px;

    h2 {
      margin-left: .25em;
			font-size: 1.7em;
    }

		p.summary {
			margin-bottom: 1.5em;
		}

    div {
      position: relative;
      margin-left: 3em;
			padding: .5em 0;

      // Blurred bar on the left side of the div
      &::before {
        content: '';
        position: absolute;
        left: -2em;
        top: 0;
        bottom: 0;
        width: 1em;
        background-color: rgba(0, 0, 111, 0.1);
        filter: blur(3px);
        border-radius: 5px;
      }
    }
  }
}
