/*
 * Styles of structuring elements.
 */
article, section {
	h2, h3 {
		padding-top: 1.5em;
	}
}

/**
 * Design settings for page-minimal.
 */
section.detached {
	margin-top: 1em;
}

/*
 * Main elements (boxes for content):
 *  * <section> for pages
 *  * <article> for posts
 *  * <aside> for blog navigation
 */
aside, article, section {
	color: #111;
	padding: 1.3em;
	margin-bottom: 3em;
	border-radius: 10px;

	background-color: #f8f9fa;
	border: 1px solid #dee2e6;
	box-shadow: 5px 5px 2px #6b6b6b82;

	h3 {
		margin-top: 0;
	}
	h4 {
		margin-top: 1.5em;
		margin-bottom: 0.25em;
		~ ul {
			padding-left: 1.5em;
		}
	}
}


footer {
	border-top: 4px solid #dee2e6;
	padding: .5em 0 2em 0;
}
div.jumbotron {
	border-bottom: 4px solid #dee2e6;
}

