/**
 * Tag cloud.
 */
.tag-cloud {
	text-align: center;

	li {
		display: inline;
		line-height: 1;
	}
	/* Every tag in the tag cloud should have a point as a separator. */
	li::after {
		content: "·";
	}
	/* The last entry in the tag cloud should not have a point. */
	li:last-child::after {
		content: "";
	}
}
