/*
 * Styles for debugging purpose.
 * This file is dynamically added to the 'assets/css/main.css'
 * using the site variable `additional-stylesheets` in '_configData.yml' (could be also in '_config.yml')
 */

.no-tag-description {
	background-color: coral;
	border-radius: 999px;
	padding: .01em .35em;
	color: white;
}
