---
# Contains the default layout with menu, etc.
layout: html
---

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">

		<!-- Brand Icon -->
		{% if site.brand %}
		<a class="navbar-brand" href="{{ "/" | relative_url}}">{{ site.brand }}</a>
		{% endif %}

		<!-- Burger menu -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Page links -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				{% include function_list-pages.html %}

			</ul>
		</div>

	</div>
</nav>



<!-- Page title -->
{% if site.title or site.subtitle %}
<div class="jumbotron bg-light py-4">
	<div class="container">

		{% if site.title %}
		{% comment %}
		'site.title' is intentionally not escaped to allow formatting with HTML.
		{% endcomment %}
		<div class="h1">{{ site.title }}</div>
		{% endif %}

		{% if site.subtitle %}
		{% comment %}
		'site.subtitle' is intentionally not escaped to allow formatting with HTML.
		{% endcomment %}
		<div class="h2">{{ site.subtitle }}</div>
		{% endif %}

	</div>
</div>
{% endif %}



<!-- Add specific content above the content secion. -->
<div class="container">
	{% include container_start-of-main.html %}
</div>



<!-- Page content -->
<main class="container pt-4" style="flex-grow: 1;" aria-label="Content">

	<div class="row">

		<div class="col-lg-8 pb-5">
			{{ content }}
		</div>

		<div class="col-lg-4 pb-5">
			{% include aside_navigation.html %}
			{% include aside_info.html %}
			{% include aside_more.html %}
		</div>

	</div>

</main>



<!-- Add specific content below the content secion. -->
<div class="container">
	{% include container_end-of-main.html %}
</div>



<!-- Footer -->
<footer class="footer bg-light">
	<div class="container">

		<div class="row">

			<div class="col-lg-3 col-md-4 text-left py-3">
				<address>
					<div class="h4">Contact me:</div>

					{% include content_footer-usernames.html %}

				</address>
			</div>

			<div class="col-lg-6 col-md-5 text-left py-3">
				{% if site.disclaimer %}
				<h4>Disclaimer:</h4>
					{{ site.disclaimer | escape }}
				{% endif %}
			</div>

			<div class="col-md-3 text-left py-3">
				<h4>Note:</h4>
				{% if site.copydate and site.author %}
				<p>
					&copy; {{ site.copydate | escape }} by <em>{{ site.author | escape }}</em>
				</p>
				{% endif %}

				{% include content_footer-powered-by.html %}

			</div>

		</div>

	</div>
</footer>


