---
# Page without navigation, footer, etc.
# Can be used for simple confirmation pages or similar, which should have a layout consistent with the main site.
layout: html
---
<main class="container" aria-label="Content">
	<div class="row">

		<div class="col-lg-12">
			{{ content }}
		</div>

	</div>

</main>
