---
# Regular page with a tags and their description attached to the end of the content.
layout: page
---

{{ content }}





{% comment %}Create an empty array.{% endcomment %}
{% assign terms = "" | split:"" %}

{% comment %}Get a list of all tags.{% endcomment %}
{% for key in site.data.tag-description %}
	{% assign terms = terms | push: key[0] %}
{% endfor %}

{% comment %}Sort the list{% endcomment %}
{% assign terms = terms | sort_natural %}





<!-- Index of the glossary. -->
{% assign letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ" | split: "" %}
<div class="glossary-index" id="index">
	<strong>Index:</strong>
	<ul>
		<li><a href="#special">#</a></li>
		{% for letter in letters %}
			<li><a href="#{{ letter }}">{{ letter }}</a></li>
		{% endfor %}
	</ul>
</div>





<!-- Terms starting with special characters or numbers. -->
<h2 class="glossary" id="special">
	<span>#</span>
  <a href="#index" class="back-to-index">Back to Index</a>
</h2>
<dl>
{% for term in terms %}
	{% assign first_letter = term  | slice: 0, 1 %}
	{% assign first_letter_matches = first_letter | match: "^[^A-Za-z]" %}

	{% if first_letter_matches %}

		{% assign description=site.data.tag-description[term] %}
		{% include function_glossary-entry.html
			term=term
			description=description
		%}

	{% endif %}

{% endfor %}
</dl>
<div>




<!-- Terms starting with letters from A-Z. -->
{% for letter in letters %}
  <h2 class="glossary" id="{{ letter }}">
		<span>{{ letter }}</span>
		<a href="#index" class="back-to-index">Back to Index</a>
	</h2>
  <dl>
  {% for term in terms %}
		{% assign first_letter = term | slice: 0, 1 | upcase %}

    {% if first_letter == letter %}

			{% assign description=site.data.tag-description[term] %}
			{% include function_glossary-entry.html
				term=term
				description=description
			%}

		{% endif %}

	{% endfor %}
	</dl>
{% endfor %}


