---
layout: page
---

{{ content }}

<h2>Blog statistics</h2>

{% comment %}Create an empty array.{% endcomment %}
{% assign posts_without_tags = "" | split:"" %}

{%- comment -%}
	Loop through all posts in the site and **calculate tag statistics**:
	- Assign the number of tags for each post to `number_of_tags`.
	- If the post has tags, increment `posts_with_tags` by 1 and add the number of tags to `number_of_tags_total`.
	- If the post does not have tags, add the post to the `posts_without_tags` collection.
{%- endcomment -%}

{% for post in site.posts %}
	{% assign number_of_tags = post.tags | size %}

	{% if number_of_tags > 0 %}
		{% assign posts_with_tags = posts_with_tags | plus: 1 %}
		{% assign number_of_tags_total = number_of_tags_total | plus: number_of_tags %}
	{% else %}
		{% assign posts_without_tags = posts_without_tags | push: post %}
	{% endif %}

{% endfor %}



{% comment %}Create an empty array.{% endcomment %}
{% assign posts_with_duplicate_tags = "" | split:"" %}

{%- comment -%}
	Loop through all posts in the site and **check for duplicate tags**.
	- For each post, calculate the number of tags (`n_tags`) and the number of unique tags (`n_unique_tags`).
	- If the number of tags is not equal to the number of unique tags, it means there are duplicate tags.
	- Add posts with duplicate tags to the `posts_with_duplicate_tags` collection.
{%- endcomment -%}
{% for post in site.posts %}
	{% assign n_tags        = post.tags | size %}
	{% assign n_unique_tags = post.tags | uniq | size %}

	{% if n_tags != n_unique_tags %}
		{% assign posts_with_duplicate_tags = posts_with_duplicate_tags | push: post %}
	{% endif %}
{% endfor %}



{% comment %}Create an empty array.{% endcomment %}
{% assign tags_without_description = "" | split:"" %}
{% assign number_of_tags_with_description = 0 %}
{% assign number_of_tags_without_description = 0 %}

{%- comment -%}
	This Liquid template code iterates over all tags in the site and checks if each tag has a short description in the tag-description data file.
	- Initializes an empty string `tags` and splits it into an array.
	- Iterates over each tag in `site.tags`.
	- If the tag has a short description, increments the `number_of_tags_with_description` counter.
	- If the tag does not have a short description, increments the `number_of_tags_without_description` counter and adds the tag to the `tags_without_description` array.
{%- endcomment -%}
{% assign tags = "" | split:"" %}
{% for tag in site.tags %}

	{% if site.data.tag-description[tag.first].short %}
		{% assign number_of_tags_with_description = number_of_tags_with_description | plus: 1 %}
	{% else %}
		{% assign number_of_tags_without_description = number_of_tags_without_description | plus: 1 %}
		{% assign tags_without_description = tags_without_description | push: tag.first %}
	{% endif %}

{% endfor %}

{% comment %}Sort the tags in alphabetical order (case-insensitive).{% endcomment %}
{% assign tags_without_description = tags_without_description | sort_natural %}



{% comment %}Create an empty array.{% endcomment %}
{% assign tags_without_post = "" | split:"" %}

{%- comment -%}
	Loop through all tags in the tag-description data file and add to a list all tags that do not appear in any post.
	- For each tag, get the number of posts associated with it from `site.tags[tag]`.
	- Add the tag and its post count to the `tags_with_post_count` collection.
{%- endcomment -%}
{% for tag in site.data.tag-description %}
	{% assign tag_name = tag[0] %}
	{% assign post_count = site.tags[tag_name] | size %}
	{% if post_count == 0 %}
		{% assign tags_without_post = tags_without_post | push: tag_name %}
	{% endif %}
{% endfor %}




<h3>Versions</h3>
<ul>
	<li>Built with <a href ="https://jekyllrb.com">Jekyll</a> {{ jekyll.version }}.</li>
	{% comment %}

	https://jekyllrb.com/docs/variables/#theme-variables

	<li>Theme version: {{ theme.version }}</li>

	theme.version does not seem to be available

	<li>Theme version: {{ theme.version | inspect }}</li>

	{% endcomment %}
</ul>



<h3>Content statistics</h3>

{% comment %}
Bei Änderungen auch den entsprechenden Blog-Eintrag vom 28.10.2020 anpassen!
{% endcomment %}
<ul>
	<li><strong>Time created</strong>: {{ site.time }}</li>

	<li><strong># pages</strong>: {{ site.pages | size }}</li>
	<li><strong># HTML-pages</strong>: {{ site.html_pages | size }}</li>

	<li><strong># posts</strong>: {{ site.posts | size }}</li>
	<li><strong># posts_with_tags</strong>: {{ posts_with_tags }}</li>
	<li><strong># posts_without_tags</strong>: {{ posts_without_tags | size }}</li>

	<li><strong># number_of_tags_total</strong>: {{ number_of_tags_total }}</li>
	<li><strong># different tags</strong>: {{ site.tags | size }}</li>
	<li><strong># Tags with description</strong>: {{ number_of_tags_with_description }}</li>
	<li><strong># Tags without description</strong>: {{ number_of_tags_without_description }}</li>

	<li><strong># categories</strong>: {{ site.categories | size }}</li>
</ul>



{% assign number_pwt = posts_without_tags | size %}
{% if number_pwt > 0 %}
	<h3>Posts without tags</h3>
	<p>
		<em>This can be useful for debugging purpose, since every post should have at least one tag.</em>
	</p>

	{% include function_list-posts.html
		postlist=posts_without_tags
	%}

{% endif %}



{% assign number_pwdt = posts_with_duplicate_tags | size %}
{% if number_pwdt > 0 %}
	<h3>Posts with duplicate tags</h3>
	<p>
		<em>This can be useful for debugging purpose, since every tag should occur only once in a post.</em>
	</p>

	{% include function_list-posts.html
		postlist=posts_with_duplicate_tags
		postlist-css-class = "post-list-short"
		postlist-format-function = "function_post-in-list-duplicate-tags.html"
	%}

{% endif %}



{% assign number_twd = tags_without_description | size %}
{% if number_twd > 0 %}
	<h3>Tags without description</h3>
	<p>
		<em>This can be useful for debugging purposes, as every tag used should have a description from the <code>tag-description.yml</code> data file.</em>
	</p>

	{% include function_tag-list.html
		tags=tags_without_description
	%}

{% endif %}



{% assign number_twp = tags_without_post | size %}
{% if number_twp > 0 %}
	<h3>Tags without posts</h3>
	<p>
		<em>This can be useful for debugging purposes, as every tag from the <code>tag-description.yml</code> data file should be associated with at least one post.</em>
	</p>

	{% include function_tag-list.html
		tags=tags_without_post
		not_linked=true
	%}

{% endif %}


